appdirs==1.4.3
certifi==2018.4.16
chardet==3.0.4
ConfigArgParse==0.13.0
cycler==0.10.0
datrie==0.7.1
idna==2.6
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.2
pandas==0.22.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
PyYAML==3.12
ratelimiter==1.2.0.post0
requests==2.18.4
scipy==1.0.1
six==1.11.0
snakemake==4.8.0
urllib3==1.26.5
wrapt==1.10.11
xlrd==1.1.0
